input {
  beats {
    port => 5044
    host => "0.0.0.0"
  }
}
filter {
  mutate {
    gsub => [
      "msg", "\"uuid\" = '.+'", "\"uuid\" = [filtered]"
    ]

    update => { "request_id" => "My new message" }
  }
}
output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    manage_template => false
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
